name: Deploy to GSP pypi Workflow

on:
  workflow_call:
    inputs:
      python_version:
        description: "The version of Python to use for testing and linting"
        type: string
        required: false
        default: "3.9"

      ruff_version:
        description: "Version of Ruff to use"
        type: string
        required: false
        default: "latest"

      use_dvc:
        description: "Whether to use DVC to pull data. Expects AWS credentials to be set in the repository secrets."
        type: boolean
        required: false
        default: false

jobs:
  trigger_test:
    uses: gold-standard-phantoms/github-actions/.github/workflows/python-test.yml@v0.1.0
    with:
      python_version: ${{ inputs.python_version }}
      ruff_version: ${{ inputs.ruff_version }}
      use_dvc: ${{ inputs.use_dvc }}
    secrets: inherit

  build_and_deploy:
    name: Build and Deploy
    needs: [trigger_test]
    runs-on: ubuntu-latest
    if: ${{ needs.trigger_test.result == 'success' }}

    steps:
      - uses: actions/checkout@v4

      - uses: gold-standard-phantoms/github-actions/.github/actions/build-and-deploy-pypi@v0.1.0
        with:
          pypi_username: ${{ secrets.PRIVATE_PYPI_USERNAME }}
          pypi_password: ${{ secrets.PRIVATE_PYPI_PASSWORD }}
          pypi_url: ${{ secrets.PRIVATE_PYPI_URL }}

